# Dépendances Composer
/vendor/

# Fichiers d'environnement
.env

# Fichiers Trello / scripts locaux
/tools/*

# Sessions et logs
*.log
/logs/*
!/logs/.gitkeep
!/logs/mails/
!/logs/mails/.gitkeep
/sessions/

# IDEs
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Fichiers uploadés
/assets/uploads/*
!/assets/uploads/.gitkeep